################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/adeventureworks_sps/adeventureworks_sps/obj/Debug
